.image-result {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 250px
}

.head-padding {
    padding: 50px;
}

.input-group {
    width: 100%;
    display: flex;
}
h1 {
    margin-top: 50px;
}

#loading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: none;
}

.main-back-color {
    background-color: rgb(21, 24, 29);
}

.back-gray {
    background-color: rgb(31, 33, 38);
}

.lable-radius {
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.total-width {
    width: 88%;
    margin-left: calc((100% + 16rem - 88%) / 2);
    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0px;
    }

}

.home-back {
    background-color: rgb(31, 33, 38);
    border-radius: 64px;
    padding: 100px;
    margin-top: 20px;
    background-image: url('/images/visual.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.intro-label{
    background-color: rgb(252, 232, 3);
    margin: 20px;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    border-radius: 100px;
    font-family: monospace;
    font-weight: bold;
}

.intro-me {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    @media (max-width: 768px) {
        margin-left: 0px;
    }
}

.intro-img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
}

.intro-text {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    display: grid;
    margin-top: 5px;
}

.intro-gray {
    color: rgb(220, 220, 220);
    font-size: 18px;
    font-family: sans-serif;
}

.intro-stack {
    font-size: 60px;
    color: white;
    font-family: emoji;
}

.pro-span {
    background-color: rgb(252, 232, 3);
    font-size: 40px;
    color: black;
    font-family: emoji;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 20px;
    font-weight: bold;
}

.intro-ai {
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.btn-start {
    background-color: rgb(252, 232, 3);
    color: black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 100px;
    font-weight: bold;
    font-family: emoji;
    font-size: 20px;
}

.span-now{
    font-size: 18px;
    background-color: black;
    color: rgb(252, 232, 3);
    font-weight: bold;
    font-family: emoji;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 100px;
}

.btn-event {
    width: 60px;
    text-align: center;
}
